<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>lists</title>
</head>
<body>
<h1>hdfs目录下的文及件文件夹</h1>

<br>
<table border="1" style="width:800px;">
    <tr>
        <th>Name</th>
        <th>isfile</th>
        <th>len</th>
        <th>操作</th>
    </tr>
    <tr th:each="hf:${lists}">
        <td th:text="${hf.name}"></td>
        <td th:text="${hf.isDir}?'文件夹':'文件'"></td>
        <td th:text="${hf.len}"></td>
        <td>
            <a th:href="@{del(name=${hf.name})}">删除</a>
            <a th:href="@{download(name=${hf.name})}">下载</a>
            <form th:action="@{rename(name1=${hf.name},name2=${name})}" method="post">
                重命名：<input type="text" th:name="name2">
                <input type="submit">
            </form>
        </td>
    </tr>
</table>

<h2><a th:href="addForm">上传</a></h2>

</body>
</html>